.input-textarea {
    width: 100%;
    padding: 12px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #fcfcfc;
    max-height: 150px;
    min-height: 40px;
    font: inherit;
}
.input-textarea.error {
    border: 1px solid red;
}
